body {
	background-color: beige;
	font-family: Calibri, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	list-style-type: none;
	text-align: center;
	margin-left: -40px;
}

#nav {
	list-style-type: none;
	display: flex;
	gap: 15px;
	margin-left: -40px;
}

th, td, button {
	padding: 5px;
}

input {
	display: block;
	margin: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}